<link rel="stylesheet" href="/css_files/footer.css">
<footer class="footer">
    <div class="container">
      <div class="columns">
        <div class="column">
            <p>&copy; 2023 Habit Maker. All rights reserved. devloped by <span style="color: blue;">Saurabh Dixit.</span></p>
        </div>
        <div class="column has-text-right" style="font-size: large;">
            <span style="color: black; font-family: Impact;font-size: 20px;">Contact</span>
          <a href="https://www.linkedin.com/in/saurabhdixit93/" target="_blank">
            <span class="icon">
              <i class="fab fa-linkedin"></i>
            </span>
          </a>
          <a href="https://github.com/saurabhdixit93" target="_blank">
            <span class="icon">
              <i class="fab fa-github"></i>
            </span>
          </a>
          <a href="mailto:your-smartds2550@gmail.com">
            <span class="icon">
              <i class="fas fa-envelope"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </footer>