<title><%= title %></title>
<link rel="stylesheet" href="/css_files/register.css">
<!-- Register View -->
<style>

</style>
<body>
  <% if (message) { %>
    <div id="alert-message" class="alert alert-<%= message.type %>">
      <%= message.text %>
    </div>
  <% } %>
  <section class="section">
    <div class="container" style="max-width: 500px;">
      <div class="card" style="margin-top: -20px;">
        <div class="card-content" >
          <h1 class="title is-3 has-text-centered">Sign Up</h1>
          <form id="signup-form" method="post" action="/user/create-user">
            <div class="field">
              <label class="label">Full Name</label>
              <div class="control has-icons-left">
                <input class="input" type="name" placeholder="Enter your full name" name="name" id="name" required>
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label class="label">Email</label>
              <div class="control has-icons-left">
                <input class="input" type="email" name="email" placeholder="Enter your email" name="email" id="email" required>
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
                <p class="help is-danger" id="email-error"></p>
              </div>
            </div>
            <div class="field">
              <label class="label">Password</label>
              <div class="control has-icons-left">
                <input class="input" type="password" name="password" placeholder="Enter your password" name="password" id="password" required>
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
                <p class="help is-danger" id="password-error"></p>
              </div>
            </div>
            <div class="field">
              <label class="label">Confirm Password</label>
              <div class="control has-icons-left">
                <input class="input" type="password" placeholder="Enter your Confirm password" name="confirm_password" id="password" required>
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
                <p class="help is-danger" id="password-error"></p>
              </div>
            </div>
            <span class="icon is-small is-right show-password">
              <i class="fas fa-eye"></i>
            </span>
            <div class="field">
              <div class="control">
                <button class="button is-link is-outlined is-fullwidth" style="margin-top: 5px;margin-bottom: 5px;">Sign Up</button>
              </div>
            </div>
          </form>
          <div class="content has-text-centered">
            <p>Already have an account? <a href="/user/log-in">Log in</a></p>
            <div class="line-container">
              <div class="line"></div>
              <div class="or">Or</div>
              <div class="line"></div>
            </div>
            <div class="field">
              <div class="control">
                <a href="/user/auth/facebook-login" style="display: none;" id="facebook_login"></a>
                <button style="margin-top: 5px;margin-bottom: 5px;" class="button is-link is-outlined is-fullwidth" type="button" id="login-facebook" onclick="document.getElementById('facebook_login').click()" >
                  <span class="icon">
                    <i class="fab fa-facebook"></i>
                  </span>
                  <span>Login with Facebook</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
<script src="/script_files/registervalidation.js"></script>
<script src="/script_files/loginvalidation.js"></script>

