    /* Add custom styles here */
    .navbar {
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      }
      .navbar-item {
        font-weight: bold;
        color: #555;
      }
      .navbar-item:hover {
        color: #00d1b2;
      }