<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
     main {
      font-family: Helvetica, sans-serif;
      color: #333;
      line-height: 1;
      margin: 0;
      padding: 0;
    }
    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      box-sizing: border-box;
      background-color: #f4f4f4;
      text-align: center;
    }
    h1 {
      font-size: 28px;
      font-weight: bold;
      margin: 0 0 10px;
    }
    p {
      font-size: 16px;
      margin: 0 0 20px;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li {
      font-size: 16px;
      margin-bottom: 10px;
    }
    :root {
        --primary-color: #1e88e5;
        --secondary-color: #757575;
    }
    .header {
        background-color: #f2f2f2;
        padding: 20px;
        text-align: center;
    }
    .header h1 {
        color: var(--primary-color);
        font-size: 25px;
        margin: 0;
    }
    button {
        background-color:#000000;
        border: none;
        color: #fff;
        cursor: pointer;
        font-size: 16px;
        padding: 10px 20px;
        transition: background-color 0.3s ease-in-out;
    }
    button:hover {
        background-color: #0d47a1;
    }
    footer {  
    padding: 20px 0;
    margin-top: 10px;
    }
    
    footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    }
    
    footer ul li {
    margin-bottom: 10px;
    }
    .github{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-left: 5px;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
    }
    .linkedin{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-left: 5px;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
    }
    footer ul li a {
    color: #000cf2;
    }
    footer ul li a:hover {
    color:rgb(0, 0, 0);
    transition: all 0.2s ease-in;
    }
    .domain{
      pointer-events: none;
    }
  </style>
</head>
<body>
   <header>
    <div class="header">
        <h1>Habbit Tracker </h1>
    </div>
   </header>
   <main>
        <div class="container">
            <p>Hi there, <span style="color: #0d47a1;"><%= user.name %></span></p>
            <p>We have received a request to reset your password. with register email <span style="color: darkblue; pointer-events: none;"> 
            <span style="pointer-events: none !important;"> <span><%= user.email.replace(/(?<=.{3}).(?=[^@]*?.@)/g, "*") %></span></span></span> 
            To complete the process, please click the button below to reset your password:</p>
            <button type="button" style="background-color: #000000;color: white;margin-bottom: 20px;"><a href="<%= resetLink %>" style="color: #ffffff; text-decoration: none;">Reset Password</a></button>
            <p>If you did not request a password reset link, please ignore this email or contact our support team at Inside contact.</p>
        </div>
    </main>    
    <footer>
        <p>Contact:</p>
        <ul>
        <li><img class="github" src="https://img.icons8.com/3d-fluency/30/null/github.png"/><a href="https://github.com/Saurabhdixit93" target="_blank">Github</a></li>
        <li><img class="linkedin" src="https://img.icons8.com/arcade/30/null/linkedin.png" alt=""><a href="https://www.linkedin.com/in/saurabhdixit93" target="_blank">LinkedIn</a></li>
        </ul>
        <p>Best regards,</p>
        <hr style="background-color: rgb(0, 0, 0);">
        <p style="font-size: 10px;">&copy; <%= new Date().getFullYear() %> Saurabh Dixit. All rights reserved.</p>
    </footer>
</body>
</html>
